/**
 * מגישים: אחמד שלאעטה 212811244, באסל חמזה 214048019  , נרמין עראידה 212845762
 * GitHub: ( https://github.com/Ahmadsh64/ex1b.git )
 */


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h2>Login</h2>
  <% if (error) { %><p style="color:red"><%= error %></p><% } %>
  <form action="/login" method="post">
    <fieldset>
      <legend>Login</legend>

      <label>Username:</label><input type="text" name="username" required><br>
      <label>Password:</label><input type="password" name="password" required><br>

      <button type="submit">Login</button>
    </fieldset>
  </form>

  <a href="/register">Don't have an account? Register here</a>
</body>
</html>
