/**
 * מגישים: אחמד שלאעטה 212811244, באסל חמזה 214048019  , נרמין עראידה 212845762
 * GitHub: ( https://github.com/Ahmadsh64/ex1b.git )
 */


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <form action="/login" method="post">
    <h2>Login</h2>

    <% if (error) { %>
      <p style="color:red"><%= error %></p>
    <% } %>

    <label>Username:</label>
    <input type="text" name="username" required>

    <label>Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Login</button>

    <a href="/register">Don't have an account? Register here</a>
  </form>
</body>
</html>
